[submodule "themes/hello-friend-ng"]
	path = themes/hello-friend-ng
	url = https://github.com/rhazdon/hugo-theme-hello-friend-ng
[submodule "themes/m10c"]
	path = themes/m10c
	url = https://github.com/vaga/hugo-theme-m10c
[submodule "themes/ananke"]
	path = themes/ananke
	url = https://github.com/theNewDynamic/gohugo-theme-ananke.git
[submodule "themes/risotto"]
	path = themes/risotto
	url = https://github.com/joeroe/risotto
[submodule "themes/hugo-notepadium"]
	path = themes/hugo-notepadium
	url = https://github.com/cntrump/hugo-notepadium
[submodule "themes/poison"]
	path = themes/poison
	url = https://github.com/lukeorth/poison
[submodule "themes/LucentLink"]
	path = themes/LucentLink
	url = https://github.com/cx48/LucentLink-Hugo
[submodule "themes/congo"]
	path = themes/congo
	url = https://github.com/jpanther/congo
[submodule "themes/hugo-coder"]
	path = themes/hugo-coder
	url = https://github.com/luizdepra/hugo-coder
